<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.c3p0.min_size">10</property>
		<property name="hibernate.c3p0.max_size">20</property>
		<property name="hibernate.c3p0.acquire_increment">1</property>
		<property name="hibernate.c3p0.idle_test_period">3000</property>
		<property name="hibernate.c3p0.max_statements">50</property>
		<property name="hibernate.c3p0.timeout">1800</property>
		<property name="hibernate.current_session_context_class">thread</property>
		<property name="hibernate.bytecode.use_reflection_optimizer">false</property>
		<property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>

		<property name="hibernate.connection.username">chacho</property>
		<property name="hibernate.connection.password">Facil1@2</property>
		<property name="hibernate.generate_statistics">false</property>

		<property name="hibernate.connection.url">
			jdbc:mysql://ec2-18-191-234-33.us-east-2.compute.amazonaws.com:3306/escuela?autoReconnect=true&amp;useSSL=false
		</property>
		<property name="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</property>
		<property name="hibernate.search.autoregister_listeners">true</property>
		<property name="hibernate.validator.apply_to_ddl">false</property>

		<mapping
			class="com.examen.concredito.entidades.CalificacionEntity" />
		<mapping
			class="com.examen.concredito.entidades.EstudianteEntity" />
		<mapping class="com.examen.concredito.entidades.CursoEntity" />
		<mapping class="com.examen.concredito.entidades.MaestroEntity" />


	</session-factory>
</hibernate-configuration>
